/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {

    --background: #F7F9FD;
    --text-primary: #1a1a1a;
    
    --gray-light: #ccc;
    --gray-dark: #bbbb;
}

.mode__dark {
    --background: #1a1a1a;
    --text-primary: #F7F9FD;

    --gray-light: #ccc;
    --gray-dark: #bbbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-primary);
}

a, ul, li {
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;

    background: var(--background);
    color: var(--text-primary);
}

nav {
    width: 100%;
}

.nav_bar {
    padding: 1.2rem 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-weight: 600;
    color: var(--text-primary);
}

.dark__mode {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.dark__mode i {
    font-size: 1.4rem;
    color: var(--text-primary);
}

.outer__box {
    width: 54px;
    padding: 2px;
    border: 2px solid #808080;
    border-radius: 2rem;
}

.inner__box {
    height: 24px;
    width: 24px;
    background-color: #808080;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dark {
    transform: translateX(24px);
    background-color: var(--text-primary);
}



@media (width < 480px) {

    .logo h1 {
        font-size: 2.2vw;
    }

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}